.DS_Store
env
.env
.flaskenv
*.pyc
*.pyo
venv/
venv*
.venv
.venv*
.venv*/**
dist/
./build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode/
**/__pycache__
**/.ipynb_checkpoints
.ipynb_checkpoints
.web
